/* .ant-table-pagination {
  position: fixed;
  right: 20px;
  bottom: 20px;
} */
.ant-table-wrapper {
  height: calc(100vh - 158px);
  max-height: calc(100vh - 158px);
  justify-content: flex-start;
}
.ant-spin-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ant-spin-nested-loading {
  height: 100%;
}
