.input {
  display: block;
  width: 100%;
  outline: none;
  padding: 12px 8px;
  font-size: 1.4rem;
  border: none;
  border-bottom: 1px solid #cfc3c3;
  &:focus ~ .line {
    width: 100%;
  }
}
.line {
  display: block;
  width: 0;
  height: 1px;
  background-color: #048ec8;
  background-image: linear-gradient(45deg, #048ec8 0%, #ff04d1 100%);
  transition: width ease-in 0.3s;
  z-index: 9;
}
